@font-face {
    font-family: 'Norse Bold';
    src: url(Norse-Bold.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
}

.side-bar {
    background: no-repeat url(leaves.jpg) center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.side-bar p, 
.side-bar a {
    color: white;
}

.logo-div {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "Norse Bold", sans-serif;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
}

.logo-div img {
    width: 25%;
}