@font-face {
    font-family: 'Norse Bold';
    src: url(Norse-Bold.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
}

.side-bar {
    background-image: url(leaves.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar p, 
.side-bar a {
    color: white;
}

.logo-div {
    background-color: gray;
    color: white;
    font-family: "Norse Bold", sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div img {
    width: 45%;
}